.body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}
p {
  font-family: "Bebas Neue", sans-serif;
}
.listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topSection button {
  width: 10vw;
  margin: 3px;
  border-radius: 10px;
  background-color: #fcba03;
  border: none;
}
.topSection button:hover {
  background-color: #ebcb74;
  cursor: pointer;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navContainer h1 {
  font-size: 80px;
  color: #02233e;
}
.nav-bar {
  height: 6vh;
  width: 80vw;
  background-color: #02233e;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.nav-bar a {
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
}

.nav-bar a:hover {
  font-weight: bold;
}

.searchFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.searchForm {
  height: 5vh;
  width: 50vw;
  background-color: green;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listContainer {
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  width: 20vw;
  background-color: rgb(241, 241, 241);
  transition: 0.3s ease-in-out;
}

.listContainer:hover {
  box-shadow: 7px 7px 5px rgba(155, 155, 155, 0.507);
  transform: scale(1.05);
  border: 1px solid #a0a0a0;
}

.icon {
  width: 25px;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  object-fit: contain;
}

.icon.delete {
  align-self: flex-end;
  cursor: pointer;
  z-index: 100;
}

.icon.delete:hover {
  opacity: 1;
}

.icon.star {
  filter: invert(79%) sepia(35%) saturate(5035%) hue-rotate(2deg) brightness(107%) contrast(98%);
  width: 40px;
}

.icon.arrow {
  cursor: pointer;
  width: 30px;
  padding: 30px 40px 0 40px;
}

.imgContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
}

.imgContainer img:hover {
  border-radius: 10px;
  cursor: pointer;
}

.imgContainer img {
  object-fit: contain;
  width: 100%;
  object-position: center;
  border-radius: 10px;
}

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.rowContainer.title {
  align-items: baseline;
}

.rowContainer.title p {
  font-size: 30px;
  padding-right: 1vw;
}

.cardText {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  height: 190px;
  justify-content: space-between;
}

.cardText h3 {
  text-align: left;
  color: rgb(19, 18, 18);
  margin: 5px 0;
  text-transform: uppercase;
}
.detailsPageContainer {
  margin: 10px;
}

.detailsImageContainer {
  width: 60%;
  height: 70vh;
}

.detailsImageContainer img {
  object-fit: cover;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  margin: 0 40px;
}

.detailsPageContainer p {
  font-size: 22px;
}

.topSectionInformation {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
}

.topSectionInformation h1 {
  font-size: 40px;
  text-align: left;
  text-transform: uppercase;
}

.topSection {
  display: flex;
  flex-direction: row;
}

.lowerSection {
  display: flex;
  flex-direction: column;
}

.lowerSection section {
  display: flex;
  gap: 10px;
}
footer {
  margin-top: 10vh;
}
footer nav,
footer section,
footer a {
  background-color: #02233e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  font-size: 20px;
  color: #fcfcfc;
}
.social {
  filter: invert(100%) sepia(17%) saturate(164%) hue-rotate(214deg) brightness(112%) contrast(98%);
}

.socials {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

.hostCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background-color: #a2bfcd;
  height: 20vh;
  margin: 40px 0;
}

.hostImgContainer {
  border-radius: 50px;
  display: flex;
}

.hostImgContainer img {
  width: 5vw;
  height: 8vh;
  object-fit: contain;
}
.hostInfo {
  display: flex;
  flex-direction: column;
}
.addProduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.price {
  border: 3px solid #fcba03;
  border-radius: 15px;
  padding: 30px;
  margin: 0;
}

.priceSection {
  margin-top: 50px;
}

.listPrice {
  font-size: 20px;
  padding-top: 1vh;
}

.productFullDescription {
  display: flex;
  justify-content: space-around;
  margin: 7vh 0;
}
.productFullDescription p {
  padding: 10px;
  width: 40vw;
  font-weight: 800;
  text-align: justify;
  font-family: "Public Sans", sans-serif;
}
.hostCard .hostInfo p .hostCardInnerP {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  color: black;
}
.aboutInnerP {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  color: black;
}

.hostImgContainer {
  border-radius: 50px;
  display: flex;
}

.hostImgContainer img {
  width: 10vw;
  height: 10vh;
  object-fit: contain;
}
.hostInfo {
  display: flex;
  flex-direction: column;
}

.formContainer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  padding: 25px;
  border-radius: 15px;
  border: 5px solid #fcba03;
}
.formContainer.show {
  opacity: 1;
  transition: 0.5s ease-in-out;
  min-height: 300px;
  max-height: 500px;
}

.iconAddAppartment {
  border: none;
  background-color: Transparent;
  cursor: pointer;
  margin-left: 2vw;
  filter: invert(83%) sepia(45%) saturate(4623%) hue-rotate(341deg) brightness(102%) contrast(105%);
  font-size: 18px;
}

.iconAddAppartment img {
  width: 40px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.iconAddAppartment img:hover {
  transform: scale(1.1);
}

.addProduct {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  font-size: 18px;
  justify-content: space-around;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.addProduct fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  border: 1px solid #a0a0a0;
  border-radius: 15px;
}

.addProduct legend {
  font-weight: bold;
}

.addProduct input,
.addProduct textarea {
  border-radius: 25px;
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #a0a0a0;
}

.addProduct input {
  min-width: 4vw;
}

.addProduct label {
  display: flex;
  justify-content: space-between;
}

.addProduct button {
  border: none;
  background: #011627;
  box-shadow: inset -10px -10px 20px #000910, inset 10px 10px 20px #02233e;
  color: #fcfcfc;
  border-radius: 10px;
  height: 7vh;
  width: 10vw;
  cursor: pointer;
  align-self: end;
  transition: 0.3s ease-in-out;
}

.addProduct button:hover {
  border-radius: 10px;
  background: #011627;
  box-shadow: inset 10px 10px 20px #000910, inset -10px -10px 20px #02233e;
}

.priceSection {
  align-items: self-end;
}

.priceSection p {
  color: #a0a0a0;
  font-family: "Public Sans", sans-serif;
  font-size: 20px;
}

.aboutLinks {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.topChoice {
  background-color: #ffa21f;
  padding: 2vw;
  margin-bottom: 5vw;
  border-radius: 15px;
}

.topChoiceTitle {
  text-transform: uppercase;
  font-size: 40px;
  color: #011627;
  margin: 5px;
}
