.body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}
p {
  font-family: "Bebas Neue", sans-serif;
}
.listWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h1 {
  text-align: center;
}
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(26, 26, 26);
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topSection button {
  width: 10vw;
  margin: 3px;
  border-radius: 10px;
  background-color: #fcba03;
  border: none;
}
.topSection button:hover {
  background-color: #ebcb74;
  cursor: pointer;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navContainer h1 {
  font-size: 80px;
  color: #011627;
}
.nav-bar {
  height: 10vh;
  width: 80vw;
  background-color: #011627;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}
.nav-bar a {
  text-decoration: none;
  font-size: 25px;
  color: aliceblue;
}
.searchFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.searchForm {
  height: 5vh;
  width: 50vw;
  background-color: green;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listContainer {
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  width: 20vw;
  background-color: rgb(241, 241, 241);
  transition: 0.3s ease-in-out;
}

.listContainer:hover {
  box-shadow: 7px 7px 5px rgba(155, 155, 155, 0.507);
  transform: scale(1.05);
}

.icon {
  width: 25px;
  opacity: 0.7;
  transition: 0.2s ease-in-out;
  object-fit: contain;
}

.icon.delete {
  align-self: flex-end;
  cursor: pointer;
  z-index: 100;
}

.icon.delete:hover {
  opacity: 1;
}

.imgContainer {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.imgContainer img:hover {
  border-radius: 10px;
  cursor: pointer;
}

.imgContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: 10px;
}

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cardText {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  height: 190px;
  justify-content: space-between;
}

.cardText h3 {
  text-align: left;
  color: rgb(36, 36, 36);
  margin: 5px 0;
}
.detailsPageContainer {
  margin: 10px;
}

.detailsImageContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsImageContainer img {
  object-fit: cover;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  margin: 0 40px;
}

.detailsPageContainer p {
  font-size: 22px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.lowerSection {
  display: flex;
  flex-direction: column;
}

.lowerSection section {
  display: flex;
  flex-direction: row;
}
footer {
  margin: 0 12px;
}
footer nav,
footer section {
  background-color: #fcba03;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  font-size: 20px;
}

.hostCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background-color: palevioletred;
  width: 25vw;
  height: 20vh;
  margin: 20px 0;
}

.hostImgContainer {
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
}

.hostImgContainer img {
  width: 5vw;
  height: 8vh;
  object-fit: contain;
}
.hostInfo {
  display: flex;
  flex-direction: column;
}
.addProduct {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}
.productInfoContainer {
  margin: 20px;
}
.productInfoContainer .topSection {
  margin: 20px;
}
.productInfoContainer .lowerSection section {
  margin: 10px;
}
.productFullDescription {
  display: flex;
}
.productFullDescription p {
  padding: 10px;
  width: 30vw;
  font-weight: 800;
  font-family: "Public Sans", sans-serif;
}
.hostCard .hostInfo p .hostCardInnerP {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  color: black;
}
.aboutInnerP {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Prompt", sans-serif;
  font-family: "Public Sans", sans-serif;
  font-weight: 800;
  color: black;
}

.hostImgContainer {
  border-radius: 50px;
  display: flex;
}

.hostImgContainer img {
  width: 10vw;
  height: 10vh;
  object-fit: contain;
}
.hostInfo {
  display: flex;
  flex-direction: column;
}

.formContainer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  margin: 50px 25px;
  padding: 25px;
  background-color: #a2bfcd;
  border-radius: 15px;
}
.formContainer.show {
  opacity: 1;
  transition: 0.5s ease-in-out;
  min-height: 300px;
  max-height: 500px;
}

.iconAddAppartment {
  border: none;
  background-color: Transparent;
  cursor: pointer;
  margin-left: 8vw;
  filter: invert(83%) sepia(45%) saturate(4623%) hue-rotate(341deg) brightness(102%) contrast(105%);
  font-size: 18px;
}

.iconAddAppartment img {
  width: 40px;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.iconAddAppartment img:hover {
  transform: scale(1.1);
}

.addProduct {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30vh;
  font-size: 18px;
  justify-content: space-around;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.addProduct fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  border: 1px solid #011627;
  border-radius: 15px;
}

.addProduct legend {
  font-weight: bold;
}

.addProduct input,
.addProduct textarea {
  border-radius: 25px;
  margin-left: 10px;
  padding: 5px;
  border: none;
}

.addProduct input {
  min-width: 4vw;
}

.addProduct label {
  display: flex;
  justify-content: space-between;
}

.addProduct button {
  border: none;
  background: #011627;
  box-shadow: inset -10px -10px 20px #000910, inset 10px 10px 20px #02233e;
  color: #fcfcfc;
  border-radius: 10px;
  height: 7vh;
  width: 10vw;
  cursor: pointer;
  align-self: end;
  transition: 0.3s ease-in-out;
}

.addProduct button:hover {
  border-radius: 10px;
  background: #011627;
  box-shadow: inset 10px 10px 20px #000910, inset -10px -10px 20px #02233e;
}
